<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2013 Imperial College London
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
 
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
 
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
		<param name="File" value="${jboss.server.log.dir}/clahrc_wish.log"/>
		<param name="Append" value="false"/>
 
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n %X{username}"/>
		</layout>
	</appender>
 
	<category name="uk.ac.imperial.clahrc">
		<priority value="INFO"/>
	</category>
 
 	<category name="org.jboss">
		<priority value="WARN"/>
	</category>
 
	<root>
		<appender-ref ref="FILE"/>
	</root>
 
</log4j:configuration>
